<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coretheorylife.modules.gym.dao.TGymReservationMapper" >

    <resultMap id="BaseResultMap" type="com.coretheorylife.modules.gym.entity.TGymReservation" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="coach_id" property="coachId" jdbcType="BIGINT" />
        <result column="gym_id" property="gymId" jdbcType="BIGINT" />
        <result column="purchaser_id" property="purchaserId" jdbcType="BIGINT" />
        <result column="time_from" property="timeFrom" jdbcType="TIMESTAMP" />
        <result column="time_to" property="timeTo" jdbcType="TIMESTAMP" />
        <result column="number" property="number" jdbcType="INTEGER" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="wechart" property="wechart" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="cancel_remark" property="cancelRemark" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="BIGINT" />
        <result column="update_user" property="updateUser" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, coach_id, gym_id, purchaser_id, time_from, time_to, number, phone, wechart, status, 
        cancel_remark, create_time, update_time, create_user, update_user, version, delete_flag
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.coretheorylife.modules.gym.entity.TGymReservationExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from t_gym_reservation
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from t_gym_reservation
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from t_gym_reservation
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="com.coretheorylife.modules.gym.entity.TGymReservationExample" >
        delete from t_gym_reservation
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.coretheorylife.modules.gym.entity.TGymReservation" >
        insert into t_gym_reservation (id, coach_id, gym_id, 
            purchaser_id, time_from, time_to, 
            number, phone, wechart, 
            status, cancel_remark, create_time, 
            update_time, create_user, update_user, 
            version, delete_flag)
        values (#{id,jdbcType=BIGINT}, #{coachId,jdbcType=BIGINT}, #{gymId,jdbcType=BIGINT}, 
            #{purchaserId,jdbcType=BIGINT}, #{timeFrom,jdbcType=TIMESTAMP}, #{timeTo,jdbcType=TIMESTAMP}, 
            #{number,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{wechart,jdbcType=VARCHAR}, 
            #{status,jdbcType=INTEGER}, #{cancelRemark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
            #{updateTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, #{updateUser,jdbcType=BIGINT}, 
            #{version,jdbcType=INTEGER}, #{deleteFlag,jdbcType=BIT})
    </insert>

    <insert id="insertSelective" parameterType="com.coretheorylife.modules.gym.entity.TGymReservation" >
        insert into t_gym_reservation
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="coachId != null" >
                coach_id,
            </if>
            <if test="gymId != null" >
                gym_id,
            </if>
            <if test="purchaserId != null" >
                purchaser_id,
            </if>
            <if test="timeFrom != null" >
                time_from,
            </if>
            <if test="timeTo != null" >
                time_to,
            </if>
            <if test="number != null" >
                number,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="wechart != null" >
                wechart,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="cancelRemark != null" >
                cancel_remark,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="createUser != null" >
                create_user,
            </if>
            <if test="updateUser != null" >
                update_user,
            </if>
            <if test="version != null" >
                version,
            </if>
            <if test="deleteFlag != null" >
                delete_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="coachId != null" >
                #{coachId,jdbcType=BIGINT},
            </if>
            <if test="gymId != null" >
                #{gymId,jdbcType=BIGINT},
            </if>
            <if test="purchaserId != null" >
                #{purchaserId,jdbcType=BIGINT},
            </if>
            <if test="timeFrom != null" >
                #{timeFrom,jdbcType=TIMESTAMP},
            </if>
            <if test="timeTo != null" >
                #{timeTo,jdbcType=TIMESTAMP},
            </if>
            <if test="number != null" >
                #{number,jdbcType=INTEGER},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="wechart != null" >
                #{wechart,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="cancelRemark != null" >
                #{cancelRemark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null" >
                #{createUser,jdbcType=BIGINT},
            </if>
            <if test="updateUser != null" >
                #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="version != null" >
                #{version,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null" >
                #{deleteFlag,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.coretheorylife.modules.gym.entity.TGymReservationExample" resultType="java.lang.Integer" >
        select count(*) from t_gym_reservation
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update t_gym_reservation
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.coachId != null" >
                coach_id = #{record.coachId,jdbcType=BIGINT},
            </if>
            <if test="record.gymId != null" >
                gym_id = #{record.gymId,jdbcType=BIGINT},
            </if>
            <if test="record.purchaserId != null" >
                purchaser_id = #{record.purchaserId,jdbcType=BIGINT},
            </if>
            <if test="record.timeFrom != null" >
                time_from = #{record.timeFrom,jdbcType=TIMESTAMP},
            </if>
            <if test="record.timeTo != null" >
                time_to = #{record.timeTo,jdbcType=TIMESTAMP},
            </if>
            <if test="record.number != null" >
                number = #{record.number,jdbcType=INTEGER},
            </if>
            <if test="record.phone != null" >
                phone = #{record.phone,jdbcType=VARCHAR},
            </if>
            <if test="record.wechart != null" >
                wechart = #{record.wechart,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.cancelRemark != null" >
                cancel_remark = #{record.cancelRemark,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null" >
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createUser != null" >
                create_user = #{record.createUser,jdbcType=BIGINT},
            </if>
            <if test="record.updateUser != null" >
                update_user = #{record.updateUser,jdbcType=BIGINT},
            </if>
            <if test="record.version != null" >
                version = #{record.version,jdbcType=INTEGER},
            </if>
            <if test="record.deleteFlag != null" >
                delete_flag = #{record.deleteFlag,jdbcType=BIT},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update t_gym_reservation
        set id = #{record.id,jdbcType=BIGINT},
            coach_id = #{record.coachId,jdbcType=BIGINT},
            gym_id = #{record.gymId,jdbcType=BIGINT},
            purchaser_id = #{record.purchaserId,jdbcType=BIGINT},
            time_from = #{record.timeFrom,jdbcType=TIMESTAMP},
            time_to = #{record.timeTo,jdbcType=TIMESTAMP},
            number = #{record.number,jdbcType=INTEGER},
            phone = #{record.phone,jdbcType=VARCHAR},
            wechart = #{record.wechart,jdbcType=VARCHAR},
            status = #{record.status,jdbcType=INTEGER},
            cancel_remark = #{record.cancelRemark,jdbcType=VARCHAR},
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
            update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            create_user = #{record.createUser,jdbcType=BIGINT},
            update_user = #{record.updateUser,jdbcType=BIGINT},
            version = #{record.version,jdbcType=INTEGER},
            delete_flag = #{record.deleteFlag,jdbcType=BIT}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.coretheorylife.modules.gym.entity.TGymReservation" >
        update t_gym_reservation
        <set >
            <if test="coachId != null" >
                coach_id = #{coachId,jdbcType=BIGINT},
            </if>
            <if test="gymId != null" >
                gym_id = #{gymId,jdbcType=BIGINT},
            </if>
            <if test="purchaserId != null" >
                purchaser_id = #{purchaserId,jdbcType=BIGINT},
            </if>
            <if test="timeFrom != null" >
                time_from = #{timeFrom,jdbcType=TIMESTAMP},
            </if>
            <if test="timeTo != null" >
                time_to = #{timeTo,jdbcType=TIMESTAMP},
            </if>
            <if test="number != null" >
                number = #{number,jdbcType=INTEGER},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="wechart != null" >
                wechart = #{wechart,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="cancelRemark != null" >
                cancel_remark = #{cancelRemark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null" >
                create_user = #{createUser,jdbcType=BIGINT},
            </if>
            <if test="updateUser != null" >
                update_user = #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="version != null" >
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null" >
                delete_flag = #{deleteFlag,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.coretheorylife.modules.gym.entity.TGymReservation" >
        update t_gym_reservation
        set coach_id = #{coachId,jdbcType=BIGINT},
            gym_id = #{gymId,jdbcType=BIGINT},
            purchaser_id = #{purchaserId,jdbcType=BIGINT},
            time_from = #{timeFrom,jdbcType=TIMESTAMP},
            time_to = #{timeTo,jdbcType=TIMESTAMP},
            number = #{number,jdbcType=INTEGER},
            phone = #{phone,jdbcType=VARCHAR},
            wechart = #{wechart,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            cancel_remark = #{cancelRemark,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            create_user = #{createUser,jdbcType=BIGINT},
            update_user = #{updateUser,jdbcType=BIGINT},
            version = #{version,jdbcType=INTEGER},
            delete_flag = #{deleteFlag,jdbcType=BIT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>