<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coretheorylife.modules.purchaser.dao.TPurchaserHealthExamMapper" >

    <resultMap id="BaseResultMap" type="com.coretheorylife.modules.purchaser.entity.TPurchaserHealthExam" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="purchaser_id" property="purchaserId" jdbcType="BIGINT" />
        <result column="bmi" property="bmi" jdbcType="DECIMAL" />
        <result column="basal_metabolism" property="basalMetabolism" jdbcType="DECIMAL" />
        <result column="muscle" property="muscle" jdbcType="DECIMAL" />
        <result column="weight" property="weight" jdbcType="DECIMAL" />
        <result column="body_fat" property="bodyFat" jdbcType="DECIMAL" />
        <result column="body_water" property="bodyWater" jdbcType="DECIMAL" />
        <result column="protein" property="protein" jdbcType="DECIMAL" />
        <result column="visceral_fat" property="visceralFat" jdbcType="DECIMAL" />
        <result column="bone_mass" property="boneMass" jdbcType="DECIMAL" />
        <result column="muscle_rate" property="muscleRate" jdbcType="DECIMAL" />
        <result column="body_fat_rate" property="bodyFatRate" jdbcType="DECIMAL" />
        <result column="body_water_rate" property="bodyWaterRate" jdbcType="DECIMAL" />
        <result column="protein_rate" property="proteinRate" jdbcType="DECIMAL" />
        <result column="visceral_fat_rate" property="visceralFatRate" jdbcType="DECIMAL" />
        <result column="bone_mass_rate" property="boneMassRate" jdbcType="DECIMAL" />
        <result column="protein_need" property="proteinNeed" jdbcType="DECIMAL" />
        <result column="carbohydrate_need" property="carbohydrateNeed" jdbcType="DECIMAL" />
        <result column="adipose_need" property="adiposeNeed" jdbcType="DECIMAL" />
        <result column="kacl_need" property="kaclNeed" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="BIGINT" />
        <result column="update_user" property="updateUser" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, purchaser_id, bmi, basal_metabolism, muscle, weight, body_fat, body_water, protein, 
        visceral_fat, bone_mass, muscle_rate, body_fat_rate, body_water_rate, protein_rate, 
        visceral_fat_rate, bone_mass_rate, protein_need, carbohydrate_need, adipose_need, 
        kacl_need, create_time, update_time, create_user, update_user, version, delete_flag
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.coretheorylife.modules.purchaser.entity.TPurchaserHealthExamExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from t_purchaser_health_exam
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from t_purchaser_health_exam
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from t_purchaser_health_exam
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="com.coretheorylife.modules.purchaser.entity.TPurchaserHealthExamExample" >
        delete from t_purchaser_health_exam
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.coretheorylife.modules.purchaser.entity.TPurchaserHealthExam" >
        insert into t_purchaser_health_exam (id, purchaser_id, bmi, 
            basal_metabolism, muscle, weight, 
            body_fat, body_water, protein, 
            visceral_fat, bone_mass, muscle_rate, 
            body_fat_rate, body_water_rate, protein_rate, 
            visceral_fat_rate, bone_mass_rate, protein_need, 
            carbohydrate_need, adipose_need, kacl_need, 
            create_time, update_time, create_user, 
            update_user, version, delete_flag
            )
        values (#{id,jdbcType=BIGINT}, #{purchaserId,jdbcType=BIGINT}, #{bmi,jdbcType=DECIMAL}, 
            #{basalMetabolism,jdbcType=DECIMAL}, #{muscle,jdbcType=DECIMAL}, #{weight,jdbcType=DECIMAL}, 
            #{bodyFat,jdbcType=DECIMAL}, #{bodyWater,jdbcType=DECIMAL}, #{protein,jdbcType=DECIMAL}, 
            #{visceralFat,jdbcType=DECIMAL}, #{boneMass,jdbcType=DECIMAL}, #{muscleRate,jdbcType=DECIMAL}, 
            #{bodyFatRate,jdbcType=DECIMAL}, #{bodyWaterRate,jdbcType=DECIMAL}, #{proteinRate,jdbcType=DECIMAL}, 
            #{visceralFatRate,jdbcType=DECIMAL}, #{boneMassRate,jdbcType=DECIMAL}, #{proteinNeed,jdbcType=DECIMAL}, 
            #{carbohydrateNeed,jdbcType=DECIMAL}, #{adiposeNeed,jdbcType=DECIMAL}, #{kaclNeed,jdbcType=DECIMAL}, 
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, 
            #{updateUser,jdbcType=BIGINT}, #{version,jdbcType=INTEGER}, #{deleteFlag,jdbcType=BIT}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.coretheorylife.modules.purchaser.entity.TPurchaserHealthExam" >
        insert into t_purchaser_health_exam
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="purchaserId != null" >
                purchaser_id,
            </if>
            <if test="bmi != null" >
                bmi,
            </if>
            <if test="basalMetabolism != null" >
                basal_metabolism,
            </if>
            <if test="muscle != null" >
                muscle,
            </if>
            <if test="weight != null" >
                weight,
            </if>
            <if test="bodyFat != null" >
                body_fat,
            </if>
            <if test="bodyWater != null" >
                body_water,
            </if>
            <if test="protein != null" >
                protein,
            </if>
            <if test="visceralFat != null" >
                visceral_fat,
            </if>
            <if test="boneMass != null" >
                bone_mass,
            </if>
            <if test="muscleRate != null" >
                muscle_rate,
            </if>
            <if test="bodyFatRate != null" >
                body_fat_rate,
            </if>
            <if test="bodyWaterRate != null" >
                body_water_rate,
            </if>
            <if test="proteinRate != null" >
                protein_rate,
            </if>
            <if test="visceralFatRate != null" >
                visceral_fat_rate,
            </if>
            <if test="boneMassRate != null" >
                bone_mass_rate,
            </if>
            <if test="proteinNeed != null" >
                protein_need,
            </if>
            <if test="carbohydrateNeed != null" >
                carbohydrate_need,
            </if>
            <if test="adiposeNeed != null" >
                adipose_need,
            </if>
            <if test="kaclNeed != null" >
                kacl_need,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="createUser != null" >
                create_user,
            </if>
            <if test="updateUser != null" >
                update_user,
            </if>
            <if test="version != null" >
                version,
            </if>
            <if test="deleteFlag != null" >
                delete_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="purchaserId != null" >
                #{purchaserId,jdbcType=BIGINT},
            </if>
            <if test="bmi != null" >
                #{bmi,jdbcType=DECIMAL},
            </if>
            <if test="basalMetabolism != null" >
                #{basalMetabolism,jdbcType=DECIMAL},
            </if>
            <if test="muscle != null" >
                #{muscle,jdbcType=DECIMAL},
            </if>
            <if test="weight != null" >
                #{weight,jdbcType=DECIMAL},
            </if>
            <if test="bodyFat != null" >
                #{bodyFat,jdbcType=DECIMAL},
            </if>
            <if test="bodyWater != null" >
                #{bodyWater,jdbcType=DECIMAL},
            </if>
            <if test="protein != null" >
                #{protein,jdbcType=DECIMAL},
            </if>
            <if test="visceralFat != null" >
                #{visceralFat,jdbcType=DECIMAL},
            </if>
            <if test="boneMass != null" >
                #{boneMass,jdbcType=DECIMAL},
            </if>
            <if test="muscleRate != null" >
                #{muscleRate,jdbcType=DECIMAL},
            </if>
            <if test="bodyFatRate != null" >
                #{bodyFatRate,jdbcType=DECIMAL},
            </if>
            <if test="bodyWaterRate != null" >
                #{bodyWaterRate,jdbcType=DECIMAL},
            </if>
            <if test="proteinRate != null" >
                #{proteinRate,jdbcType=DECIMAL},
            </if>
            <if test="visceralFatRate != null" >
                #{visceralFatRate,jdbcType=DECIMAL},
            </if>
            <if test="boneMassRate != null" >
                #{boneMassRate,jdbcType=DECIMAL},
            </if>
            <if test="proteinNeed != null" >
                #{proteinNeed,jdbcType=DECIMAL},
            </if>
            <if test="carbohydrateNeed != null" >
                #{carbohydrateNeed,jdbcType=DECIMAL},
            </if>
            <if test="adiposeNeed != null" >
                #{adiposeNeed,jdbcType=DECIMAL},
            </if>
            <if test="kaclNeed != null" >
                #{kaclNeed,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null" >
                #{createUser,jdbcType=BIGINT},
            </if>
            <if test="updateUser != null" >
                #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="version != null" >
                #{version,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null" >
                #{deleteFlag,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.coretheorylife.modules.purchaser.entity.TPurchaserHealthExamExample" resultType="java.lang.Integer" >
        select count(*) from t_purchaser_health_exam
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update t_purchaser_health_exam
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.purchaserId != null" >
                purchaser_id = #{record.purchaserId,jdbcType=BIGINT},
            </if>
            <if test="record.bmi != null" >
                bmi = #{record.bmi,jdbcType=DECIMAL},
            </if>
            <if test="record.basalMetabolism != null" >
                basal_metabolism = #{record.basalMetabolism,jdbcType=DECIMAL},
            </if>
            <if test="record.muscle != null" >
                muscle = #{record.muscle,jdbcType=DECIMAL},
            </if>
            <if test="record.weight != null" >
                weight = #{record.weight,jdbcType=DECIMAL},
            </if>
            <if test="record.bodyFat != null" >
                body_fat = #{record.bodyFat,jdbcType=DECIMAL},
            </if>
            <if test="record.bodyWater != null" >
                body_water = #{record.bodyWater,jdbcType=DECIMAL},
            </if>
            <if test="record.protein != null" >
                protein = #{record.protein,jdbcType=DECIMAL},
            </if>
            <if test="record.visceralFat != null" >
                visceral_fat = #{record.visceralFat,jdbcType=DECIMAL},
            </if>
            <if test="record.boneMass != null" >
                bone_mass = #{record.boneMass,jdbcType=DECIMAL},
            </if>
            <if test="record.muscleRate != null" >
                muscle_rate = #{record.muscleRate,jdbcType=DECIMAL},
            </if>
            <if test="record.bodyFatRate != null" >
                body_fat_rate = #{record.bodyFatRate,jdbcType=DECIMAL},
            </if>
            <if test="record.bodyWaterRate != null" >
                body_water_rate = #{record.bodyWaterRate,jdbcType=DECIMAL},
            </if>
            <if test="record.proteinRate != null" >
                protein_rate = #{record.proteinRate,jdbcType=DECIMAL},
            </if>
            <if test="record.visceralFatRate != null" >
                visceral_fat_rate = #{record.visceralFatRate,jdbcType=DECIMAL},
            </if>
            <if test="record.boneMassRate != null" >
                bone_mass_rate = #{record.boneMassRate,jdbcType=DECIMAL},
            </if>
            <if test="record.proteinNeed != null" >
                protein_need = #{record.proteinNeed,jdbcType=DECIMAL},
            </if>
            <if test="record.carbohydrateNeed != null" >
                carbohydrate_need = #{record.carbohydrateNeed,jdbcType=DECIMAL},
            </if>
            <if test="record.adiposeNeed != null" >
                adipose_need = #{record.adiposeNeed,jdbcType=DECIMAL},
            </if>
            <if test="record.kaclNeed != null" >
                kacl_need = #{record.kaclNeed,jdbcType=DECIMAL},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null" >
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createUser != null" >
                create_user = #{record.createUser,jdbcType=BIGINT},
            </if>
            <if test="record.updateUser != null" >
                update_user = #{record.updateUser,jdbcType=BIGINT},
            </if>
            <if test="record.version != null" >
                version = #{record.version,jdbcType=INTEGER},
            </if>
            <if test="record.deleteFlag != null" >
                delete_flag = #{record.deleteFlag,jdbcType=BIT},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update t_purchaser_health_exam
        set id = #{record.id,jdbcType=BIGINT},
            purchaser_id = #{record.purchaserId,jdbcType=BIGINT},
            bmi = #{record.bmi,jdbcType=DECIMAL},
            basal_metabolism = #{record.basalMetabolism,jdbcType=DECIMAL},
            muscle = #{record.muscle,jdbcType=DECIMAL},
            weight = #{record.weight,jdbcType=DECIMAL},
            body_fat = #{record.bodyFat,jdbcType=DECIMAL},
            body_water = #{record.bodyWater,jdbcType=DECIMAL},
            protein = #{record.protein,jdbcType=DECIMAL},
            visceral_fat = #{record.visceralFat,jdbcType=DECIMAL},
            bone_mass = #{record.boneMass,jdbcType=DECIMAL},
            muscle_rate = #{record.muscleRate,jdbcType=DECIMAL},
            body_fat_rate = #{record.bodyFatRate,jdbcType=DECIMAL},
            body_water_rate = #{record.bodyWaterRate,jdbcType=DECIMAL},
            protein_rate = #{record.proteinRate,jdbcType=DECIMAL},
            visceral_fat_rate = #{record.visceralFatRate,jdbcType=DECIMAL},
            bone_mass_rate = #{record.boneMassRate,jdbcType=DECIMAL},
            protein_need = #{record.proteinNeed,jdbcType=DECIMAL},
            carbohydrate_need = #{record.carbohydrateNeed,jdbcType=DECIMAL},
            adipose_need = #{record.adiposeNeed,jdbcType=DECIMAL},
            kacl_need = #{record.kaclNeed,jdbcType=DECIMAL},
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
            update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            create_user = #{record.createUser,jdbcType=BIGINT},
            update_user = #{record.updateUser,jdbcType=BIGINT},
            version = #{record.version,jdbcType=INTEGER},
            delete_flag = #{record.deleteFlag,jdbcType=BIT}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.coretheorylife.modules.purchaser.entity.TPurchaserHealthExam" >
        update t_purchaser_health_exam
        <set >
            <if test="purchaserId != null" >
                purchaser_id = #{purchaserId,jdbcType=BIGINT},
            </if>
            <if test="bmi != null" >
                bmi = #{bmi,jdbcType=DECIMAL},
            </if>
            <if test="basalMetabolism != null" >
                basal_metabolism = #{basalMetabolism,jdbcType=DECIMAL},
            </if>
            <if test="muscle != null" >
                muscle = #{muscle,jdbcType=DECIMAL},
            </if>
            <if test="weight != null" >
                weight = #{weight,jdbcType=DECIMAL},
            </if>
            <if test="bodyFat != null" >
                body_fat = #{bodyFat,jdbcType=DECIMAL},
            </if>
            <if test="bodyWater != null" >
                body_water = #{bodyWater,jdbcType=DECIMAL},
            </if>
            <if test="protein != null" >
                protein = #{protein,jdbcType=DECIMAL},
            </if>
            <if test="visceralFat != null" >
                visceral_fat = #{visceralFat,jdbcType=DECIMAL},
            </if>
            <if test="boneMass != null" >
                bone_mass = #{boneMass,jdbcType=DECIMAL},
            </if>
            <if test="muscleRate != null" >
                muscle_rate = #{muscleRate,jdbcType=DECIMAL},
            </if>
            <if test="bodyFatRate != null" >
                body_fat_rate = #{bodyFatRate,jdbcType=DECIMAL},
            </if>
            <if test="bodyWaterRate != null" >
                body_water_rate = #{bodyWaterRate,jdbcType=DECIMAL},
            </if>
            <if test="proteinRate != null" >
                protein_rate = #{proteinRate,jdbcType=DECIMAL},
            </if>
            <if test="visceralFatRate != null" >
                visceral_fat_rate = #{visceralFatRate,jdbcType=DECIMAL},
            </if>
            <if test="boneMassRate != null" >
                bone_mass_rate = #{boneMassRate,jdbcType=DECIMAL},
            </if>
            <if test="proteinNeed != null" >
                protein_need = #{proteinNeed,jdbcType=DECIMAL},
            </if>
            <if test="carbohydrateNeed != null" >
                carbohydrate_need = #{carbohydrateNeed,jdbcType=DECIMAL},
            </if>
            <if test="adiposeNeed != null" >
                adipose_need = #{adiposeNeed,jdbcType=DECIMAL},
            </if>
            <if test="kaclNeed != null" >
                kacl_need = #{kaclNeed,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null" >
                create_user = #{createUser,jdbcType=BIGINT},
            </if>
            <if test="updateUser != null" >
                update_user = #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="version != null" >
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null" >
                delete_flag = #{deleteFlag,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.coretheorylife.modules.purchaser.entity.TPurchaserHealthExam" >
        update t_purchaser_health_exam
        set purchaser_id = #{purchaserId,jdbcType=BIGINT},
            bmi = #{bmi,jdbcType=DECIMAL},
            basal_metabolism = #{basalMetabolism,jdbcType=DECIMAL},
            muscle = #{muscle,jdbcType=DECIMAL},
            weight = #{weight,jdbcType=DECIMAL},
            body_fat = #{bodyFat,jdbcType=DECIMAL},
            body_water = #{bodyWater,jdbcType=DECIMAL},
            protein = #{protein,jdbcType=DECIMAL},
            visceral_fat = #{visceralFat,jdbcType=DECIMAL},
            bone_mass = #{boneMass,jdbcType=DECIMAL},
            muscle_rate = #{muscleRate,jdbcType=DECIMAL},
            body_fat_rate = #{bodyFatRate,jdbcType=DECIMAL},
            body_water_rate = #{bodyWaterRate,jdbcType=DECIMAL},
            protein_rate = #{proteinRate,jdbcType=DECIMAL},
            visceral_fat_rate = #{visceralFatRate,jdbcType=DECIMAL},
            bone_mass_rate = #{boneMassRate,jdbcType=DECIMAL},
            protein_need = #{proteinNeed,jdbcType=DECIMAL},
            carbohydrate_need = #{carbohydrateNeed,jdbcType=DECIMAL},
            adipose_need = #{adiposeNeed,jdbcType=DECIMAL},
            kacl_need = #{kaclNeed,jdbcType=DECIMAL},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            create_user = #{createUser,jdbcType=BIGINT},
            update_user = #{updateUser,jdbcType=BIGINT},
            version = #{version,jdbcType=INTEGER},
            delete_flag = #{deleteFlag,jdbcType=BIT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>