<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coretheorylife.modules.purchaser.dao.ext.ExtTPurchaserTargetMapper">

    <resultMap id="BaseResultMap" type="com.coretheorylife.modules.purchaser.entity.ext.ExtTPurchaserTarget" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="purchaser_id" property="purchaserId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="count" property="count" jdbcType="INTEGER" />
        <result column="lastTime" property="lasttime" jdbcType="DATE" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="BIGINT" />
        <result column="update_user" property="updateUser" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />

        <result column="complete" property="complete" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, purchaser_id, name, count, lastTime, create_time, update_time, create_user, update_user,
        version, delete_flag
    </sql>

    <select id="queryList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        <if test="today != null and today != ''">
            , (SELECT COUNT(id) FROM t_purchaser_target_log WHERE target_time = #{today} AND target_id = t_purchaser_target.id) AS complete
        </if>
        FROM t_purchaser_target
        <where>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag}
            </if>
            <if test="purchaserId != null and purchaserId != ''">
                AND purchaser_id = #{purchaserId}
            </if>
        </where>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        SELECT COUNT(*)
        FROM t_purchaser_target
        <where>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag}
            </if>
            <if test="purchaserId != null and purchaserId != ''">
                AND purchaser_id = #{purchaserId}
            </if>
        </where>
    </select>

    <insert id="insertSelective" parameterType="com.coretheorylife.modules.purchaser.entity.TPurchaserTarget"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_purchaser_target
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="purchaserId != null">
                purchaser_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="count != null">
                count,
            </if>
            <if test="lasttime != null">
                lastTime,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="purchaserId != null">
                #{purchaserId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
            <if test="lasttime != null">
                #{lasttime,jdbcType=DATE},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=BIGINT},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=BIT},
            </if>
        </trim>
    </insert>

</mapper>