<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coretheorylife.modules.purchaser.dao.ext.ExtTPurchaserCouponMapper">

    <resultMap id="BaseResultMap" type="com.coretheorylife.modules.purchaser.entity.ext.ExtTPurchaserCoupon">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="purchaser_id" property="purchaserId" jdbcType="BIGINT" />
        <result column="shop_id" property="shopId" jdbcType="BIGINT" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="min_amount" property="minAmount" jdbcType="DECIMAL" />
        <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
        <result column="shared" property="shared" jdbcType="BIT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="BIGINT" />
        <result column="update_user" property="updateUser" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />

        <result column="shopName" property="shopName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, purchaser_id, shop_id, amount, min_amount, begin_time, end_time, shared, create_time,
        update_time, create_user, update_user, version, delete_flag
    </sql>

    <select id="queryList" resultMap="BaseResultMap">
        SELECT tpc.id, tpc.purchaser_id, tpc.shop_id, tpc.amount, tpc.min_amount, tpc.begin_time, tpc.end_time, tpc.create_time,
        tpc.update_time, tpc.create_user, tpc.update_user, tpc.version, tpc.delete_flag, tpc.shared,
        ts.name AS shopName
        FROM t_purchaser_coupon AS tpc
        INNER JOIN t_shop AS ts ON ts.id = tpc.shop_id
        <where>
            <if test="deleteFlag != null">
                tpc.delete_flag = #{deleteFlag}
            </if>
            <if test="shopId != null and shopId != ''">
                AND tpc.shop_id = #{shopId}
            </if>
            <if test="purchaserId != null and purchaserId != ''">
                AND tpc.purchaser_id = #{purchaserId}
            </if>
            <if test="beginTime != null and beginTime != ''">
                AND tpc.begin_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND tpc.end_time &lt;= #{endTime}
            </if>
            <if test="minAmount != null and minAmount != ''">
                AND tpc.min_amount &lt;= #{minAmount}
            </if>
        </where>
        ORDER BY tpc.end_time DESC
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        SELECT COUNT(*)
        FROM t_purchaser_coupon AS tpc
        INNER JOIN t_shop AS ts ON ts.id = tpc.shop_id
        <where>
            <if test="deleteFlag != null">
                tpc.delete_flag = #{deleteFlag}
            </if>
            <if test="shopId != null and shopId != ''">
                AND tpc.shop_id = #{shopId}
            </if>
            <if test="purchaserId != null and purchaserId != ''">
                AND tpc.purchaser_id = #{purchaserId}
            </if>
            <if test="beginTime != null and beginTime != ''">
                AND tpc.begin_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND tpc.end_time &lt;= #{endTime}
            </if>
            <if test="minAmount != null and minAmount != ''">
                AND tpc.min_amount &lt;= #{minAmount}
            </if>
        </where>
    </select>
</mapper>