<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coretheorylife.modules.purchaser.dao.ext.ExtTPurchaserRateMapper" >

    <resultMap id="BaseResultMap" type="com.coretheorylife.modules.purchaser.entity.ext.ExtTPurchaserRate" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="purchaser_id" property="purchaserId" jdbcType="BIGINT" />
        <result column="order_id" property="orderId" jdbcType="BIGINT" />
        <result column="rate" property="rate" jdbcType="DECIMAL" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="BIGINT" />
        <result column="update_user" property="updateUser" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />

        <result column="shopName" property="shopName" jdbcType="VARCHAR" />
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, purchaser_id, order_id, rate, description, create_time, update_time, create_user, 
        update_user, version, delete_flag
    </sql>

    <select id="queryList" resultMap="BaseResultMap">
        SELECT tpr.id, tpr.purchaser_id, tpr.order_id, tpr.rate, tpr.description, tpr.create_time,
        tpr.update_time, tpr.create_user, tpr.update_user, tpr.version, tpr.delete_flag, tsp.name AS shopName,
        tp.nick_name
        FROM t_purchaser_rate AS tpr
        INNER JOIN t_order AS tor ON tor.id =  tpr.order_id
        INNER JOIN t_shop AS tsp ON tsp.id = tor.shop_id
        INNER JOIN t_purchaser AS tp on tp.id = tpr.purchaser_id
        <where>
            <if test="deleteFlag != null">
                tpr.delete_flag = #{deleteFlag}
            </if>
            <if test="purchaserId != null and purchaserId != ''">
                AND tpr.purchaser_id = #{purchaserId}
            </if>
            <if test="rateMax != null and rateMax != ''">
                AND tpr.rate &lt;= #{rateMax}
            </if>
            <if test="rateMin != null and rateMin != ''">
                AND tpr.rate &gt;= #{rateMin}
            </if>
            <if test="shopId != null and shopId != ''">
                AND tor.shop_id = #{shopId}
            </if>
        </where>
        ORDER BY tpr.update_time DESC
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        SELECT COUNT(*)
        FROM t_purchaser_rate AS tpr
        INNER JOIN t_order AS tor ON tor.id =  tpr.order_id
        INNER JOIN t_shop AS tsp ON tsp.id = tor.shop_id
        <where>
            <if test="deleteFlag != null">
                tpr.delete_flag = #{deleteFlag}
            </if>
            <if test="purchaserId != null and purchaserId != ''">
                AND tpr.purchaser_id = #{purchaserId}
            </if>
            <if test="rateMax != null and rateMax != ''">
                AND tpr.rate &lt;= #{rateMax}
            </if>
            <if test="rateMin != null and rateMin != ''">
                AND tpr.rate &gt;= #{rateMin}
            </if>
            <if test="shopId != null and shopId != ''">
                AND tor.shop_id = #{shopId}
            </if>
        </where>
    </select>

    <select id="selectAvgRateByShopId" resultType="java.math.BigDecimal">
        SELECT IFNULL(AVG(tpr.rate), 0)
        FROM t_purchaser_rate AS tpr
        INNER JOIN t_order AS tor ON tor.id = tpr.order_id
        WHERE tor.shop_id = #{shopId}
        AND tpr.delete_flag = FALSE
    </select>
</mapper>