<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coretheorylife.modules.shop.dao.ext.ExtTShopAccountLogMapper" >

    <resultMap id="BaseResultMap" type="com.coretheorylife.modules.shop.entity.ext.ExtTShopAccountLog" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="shop_id" property="shopId" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="not_settle_amount" property="notSettleAmount" jdbcType="DECIMAL" />
        <result column="amount_after" property="amountAfter" jdbcType="DECIMAL" />
        <result column="not_settle_amount_after" property="notSettleAmountAfter" jdbcType="DECIMAL" />
        <result column="bank_id" property="bankId" jdbcType="BIGINT" />
        <result column="sf_order_id" property="sfOrderId" jdbcType="VARCHAR" />
        <result column="ship_distance" property="shipDistance" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="sys_amount" property="sysAmount" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="BIGINT" />
        <result column="update_user" property="updateUser" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, shop_id, type, amount, not_settle_amount, amount_after, not_settle_amount_after, 
        bank_id, sf_order_id, ship_distance, status, sys_amount, create_time, update_time,
        create_user, update_user, version, delete_flag
    </sql>

    <select id="queryList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_shop_account_log
        <where>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag}
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
            <if test="shopId != null and shopId != ''">
                AND shop_id = #{shopId}
            </if>
        </where>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        SELECT COUNT(*)
        FROM t_shop_account_log
        <where>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag}
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
            <if test="shopId != null and shopId != ''">
                AND shop_id = #{shopId}
            </if>
        </where>
    </select>
</mapper>