<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coretheorylife.modules.gym.dao.ext.ExtTGymReservationMapper" >

    <resultMap id="BaseResultMap" type="com.coretheorylife.modules.gym.entity.ext.ExtTGymReservation" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="coach_id" property="coachId" jdbcType="BIGINT" />
        <result column="gym_id" property="gymId" jdbcType="BIGINT" />
        <result column="purchaser_id" property="purchaserId" jdbcType="BIGINT" />
        <result column="time_from" property="timeFrom" jdbcType="TIMESTAMP" />
        <result column="time_to" property="timeTo" jdbcType="TIMESTAMP" />
        <result column="number" property="number" jdbcType="INTEGER" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="wechart" property="wechart" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="cancel_remark" property="cancelRemark" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="BIGINT" />
        <result column="update_user" property="updateUser" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    </resultMap>

    <select id="queryList" resultMap="BaseResultMap">
        SELECT tgr.id, tgr.coach_id, tgr.gym_id, tgr.purchaser_id, tgr.time_from, tgr.time_to, tgr.number,
        tgr.phone, tgr.wechart, tgr.status, tgr.cancel_remark, tgr.create_time, tgr.update_time, tgr.create_user,
        tgr.update_user, tgr.version, tgr.delete_flag, tpp.nick_name AS purchaserName, tpc.nick_name AS coachName
        FROM t_gym_reservation AS tgr
        INNER JOIN t_purchaser AS tpp ON tpp.id = tgr.purchaser_id
        LEFT JOIN t_purchaser AS tpc ON tpc.id = tgr.coach_id
        <where>
            <if test="deleteFlag != null">
                tgr.delete_flag = #{deleteFlag}
            </if>
            <if test="purchaserId != null and purchaserId != ''">
                AND tgr.purchaser_id = #{purchaserId}
            </if>
            <if test="gymId != null and gymId != ''">
                AND tgr.gym_id = #{gymId}
            </if>
            <if test="coachId != null and coachId != ''">
                AND tgr.coach_id = #{coachId}
            </if>
        </where>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        SELECT COUNT(*)
        FROM t_gym_reservation
        <where>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag}
            </if>
            <if test="purchaserId != null and purchaserId != ''">
                AND purchaser_id = #{purchaserId}
            </if>
            <if test="gymId != null and gymId != ''">
                AND gym_id = #{gymId}
            </if>
            <if test="coachId != null and coachId != ''">
                AND coach_id = #{coachId}
            </if>
        </where>
    </select>
</mapper>