<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coretheorylife.modules.shop.dao.TShopMapper" >

    <resultMap id="BaseResultMap" type="com.coretheorylife.modules.shop.entity.TShop" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="VARCHAR" />
        <result column="account_password" property="accountPassword" jdbcType="VARCHAR" />
        <result column="account_sort" property="accountSort" jdbcType="VARCHAR" />
        <result column="openId" property="openid" jdbcType="VARCHAR" />
        <result column="wechat_name" property="wechatName" jdbcType="VARCHAR" />
        <result column="avatar" property="avatar" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="shop_code" property="shopCode" jdbcType="VARCHAR" />
        <result column="order_phone" property="orderPhone" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="address_detailes" property="addressDetailes" jdbcType="VARCHAR" />
        <result column="longitude" property="longitude" jdbcType="DECIMAL" />
        <result column="latitude" property="latitude" jdbcType="DECIMAL" />
        <result column="announcement" property="announcement" jdbcType="VARCHAR" />
        <result column="introduction" property="introduction" jdbcType="VARCHAR" />
        <result column="business_hours" property="businessHours" jdbcType="VARCHAR" />
        <result column="min_price" property="minPrice" jdbcType="DECIMAL" />
        <result column="shop_notice" property="shopNotice" jdbcType="VARCHAR" />
        <result column="shop_poster" property="shopPoster" jdbcType="VARCHAR" />
        <result column="shop_window" property="shopWindow" jdbcType="VARCHAR" />
        <result column="full_reduction" property="fullReduction" jdbcType="VARCHAR" />
        <result column="auto_receive" property="autoReceive" jdbcType="BIT" />
        <result column="ship_self" property="shipSelf" jdbcType="BIT" />
        <result column="send_ship_fee" property="sendShipFee" jdbcType="DECIMAL" />
        <result column="shop_ship_fee" property="shopShipFee" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="BIGINT" />
        <result column="update_user" property="updateUser" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, mobile, password, sort, account_password, account_sort, openId, wechat_name, 
        avatar, status, name, shop_code, order_phone, address, address_detailes, longitude, 
        latitude, announcement, introduction, business_hours, min_price, shop_notice, shop_poster, 
        shop_window, full_reduction, auto_receive, ship_self, send_ship_fee, shop_ship_fee, 
        create_time, update_time, create_user, update_user, version, delete_flag
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.coretheorylife.modules.shop.entity.TShopExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from t_shop
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from t_shop
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from t_shop
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="com.coretheorylife.modules.shop.entity.TShopExample" >
        delete from t_shop
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.coretheorylife.modules.shop.entity.TShop" >
        insert into t_shop (id, mobile, password, 
            sort, account_password, account_sort, 
            openId, wechat_name, avatar, 
            status, name, shop_code, 
            order_phone, address, address_detailes, 
            longitude, latitude, announcement, 
            introduction, business_hours, min_price, 
            shop_notice, shop_poster, shop_window, 
            full_reduction, auto_receive, ship_self, 
            send_ship_fee, shop_ship_fee, create_time, 
            update_time, create_user, update_user, 
            version, delete_flag)
        values (#{id,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
            #{sort,jdbcType=VARCHAR}, #{accountPassword,jdbcType=VARCHAR}, #{accountSort,jdbcType=VARCHAR}, 
            #{openid,jdbcType=VARCHAR}, #{wechatName,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
            #{status,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{shopCode,jdbcType=VARCHAR}, 
            #{orderPhone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{addressDetailes,jdbcType=VARCHAR}, 
            #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL}, #{announcement,jdbcType=VARCHAR}, 
            #{introduction,jdbcType=VARCHAR}, #{businessHours,jdbcType=VARCHAR}, #{minPrice,jdbcType=DECIMAL}, 
            #{shopNotice,jdbcType=VARCHAR}, #{shopPoster,jdbcType=VARCHAR}, #{shopWindow,jdbcType=VARCHAR}, 
            #{fullReduction,jdbcType=VARCHAR}, #{autoReceive,jdbcType=BIT}, #{shipSelf,jdbcType=BIT}, 
            #{sendShipFee,jdbcType=DECIMAL}, #{shopShipFee,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
            #{updateTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, #{updateUser,jdbcType=BIGINT}, 
            #{version,jdbcType=INTEGER}, #{deleteFlag,jdbcType=BIT})
    </insert>

    <insert id="insertSelective" parameterType="com.coretheorylife.modules.shop.entity.TShop" >
        insert into t_shop
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="mobile != null" >
                mobile,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="sort != null" >
                sort,
            </if>
            <if test="accountPassword != null" >
                account_password,
            </if>
            <if test="accountSort != null" >
                account_sort,
            </if>
            <if test="openid != null" >
                openId,
            </if>
            <if test="wechatName != null" >
                wechat_name,
            </if>
            <if test="avatar != null" >
                avatar,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="shopCode != null" >
                shop_code,
            </if>
            <if test="orderPhone != null" >
                order_phone,
            </if>
            <if test="address != null" >
                address,
            </if>
            <if test="addressDetailes != null" >
                address_detailes,
            </if>
            <if test="longitude != null" >
                longitude,
            </if>
            <if test="latitude != null" >
                latitude,
            </if>
            <if test="announcement != null" >
                announcement,
            </if>
            <if test="introduction != null" >
                introduction,
            </if>
            <if test="businessHours != null" >
                business_hours,
            </if>
            <if test="minPrice != null" >
                min_price,
            </if>
            <if test="shopNotice != null" >
                shop_notice,
            </if>
            <if test="shopPoster != null" >
                shop_poster,
            </if>
            <if test="shopWindow != null" >
                shop_window,
            </if>
            <if test="fullReduction != null" >
                full_reduction,
            </if>
            <if test="autoReceive != null" >
                auto_receive,
            </if>
            <if test="shipSelf != null" >
                ship_self,
            </if>
            <if test="sendShipFee != null" >
                send_ship_fee,
            </if>
            <if test="shopShipFee != null" >
                shop_ship_fee,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="createUser != null" >
                create_user,
            </if>
            <if test="updateUser != null" >
                update_user,
            </if>
            <if test="version != null" >
                version,
            </if>
            <if test="deleteFlag != null" >
                delete_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="mobile != null" >
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                #{sort,jdbcType=VARCHAR},
            </if>
            <if test="accountPassword != null" >
                #{accountPassword,jdbcType=VARCHAR},
            </if>
            <if test="accountSort != null" >
                #{accountSort,jdbcType=VARCHAR},
            </if>
            <if test="openid != null" >
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="wechatName != null" >
                #{wechatName,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null" >
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="shopCode != null" >
                #{shopCode,jdbcType=VARCHAR},
            </if>
            <if test="orderPhone != null" >
                #{orderPhone,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="addressDetailes != null" >
                #{addressDetailes,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null" >
                #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="latitude != null" >
                #{latitude,jdbcType=DECIMAL},
            </if>
            <if test="announcement != null" >
                #{announcement,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null" >
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="businessHours != null" >
                #{businessHours,jdbcType=VARCHAR},
            </if>
            <if test="minPrice != null" >
                #{minPrice,jdbcType=DECIMAL},
            </if>
            <if test="shopNotice != null" >
                #{shopNotice,jdbcType=VARCHAR},
            </if>
            <if test="shopPoster != null" >
                #{shopPoster,jdbcType=VARCHAR},
            </if>
            <if test="shopWindow != null" >
                #{shopWindow,jdbcType=VARCHAR},
            </if>
            <if test="fullReduction != null" >
                #{fullReduction,jdbcType=VARCHAR},
            </if>
            <if test="autoReceive != null" >
                #{autoReceive,jdbcType=BIT},
            </if>
            <if test="shipSelf != null" >
                #{shipSelf,jdbcType=BIT},
            </if>
            <if test="sendShipFee != null" >
                #{sendShipFee,jdbcType=DECIMAL},
            </if>
            <if test="shopShipFee != null" >
                #{shopShipFee,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null" >
                #{createUser,jdbcType=BIGINT},
            </if>
            <if test="updateUser != null" >
                #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="version != null" >
                #{version,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null" >
                #{deleteFlag,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.coretheorylife.modules.shop.entity.TShopExample" resultType="java.lang.Integer" >
        select count(*) from t_shop
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update t_shop
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.mobile != null" >
                mobile = #{record.mobile,jdbcType=VARCHAR},
            </if>
            <if test="record.password != null" >
                password = #{record.password,jdbcType=VARCHAR},
            </if>
            <if test="record.sort != null" >
                sort = #{record.sort,jdbcType=VARCHAR},
            </if>
            <if test="record.accountPassword != null" >
                account_password = #{record.accountPassword,jdbcType=VARCHAR},
            </if>
            <if test="record.accountSort != null" >
                account_sort = #{record.accountSort,jdbcType=VARCHAR},
            </if>
            <if test="record.openid != null" >
                openId = #{record.openid,jdbcType=VARCHAR},
            </if>
            <if test="record.wechatName != null" >
                wechat_name = #{record.wechatName,jdbcType=VARCHAR},
            </if>
            <if test="record.avatar != null" >
                avatar = #{record.avatar,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.name != null" >
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.shopCode != null" >
                shop_code = #{record.shopCode,jdbcType=VARCHAR},
            </if>
            <if test="record.orderPhone != null" >
                order_phone = #{record.orderPhone,jdbcType=VARCHAR},
            </if>
            <if test="record.address != null" >
                address = #{record.address,jdbcType=VARCHAR},
            </if>
            <if test="record.addressDetailes != null" >
                address_detailes = #{record.addressDetailes,jdbcType=VARCHAR},
            </if>
            <if test="record.longitude != null" >
                longitude = #{record.longitude,jdbcType=DECIMAL},
            </if>
            <if test="record.latitude != null" >
                latitude = #{record.latitude,jdbcType=DECIMAL},
            </if>
            <if test="record.announcement != null" >
                announcement = #{record.announcement,jdbcType=VARCHAR},
            </if>
            <if test="record.introduction != null" >
                introduction = #{record.introduction,jdbcType=VARCHAR},
            </if>
            <if test="record.businessHours != null" >
                business_hours = #{record.businessHours,jdbcType=VARCHAR},
            </if>
            <if test="record.minPrice != null" >
                min_price = #{record.minPrice,jdbcType=DECIMAL},
            </if>
            <if test="record.shopNotice != null" >
                shop_notice = #{record.shopNotice,jdbcType=VARCHAR},
            </if>
            <if test="record.shopPoster != null" >
                shop_poster = #{record.shopPoster,jdbcType=VARCHAR},
            </if>
            <if test="record.shopWindow != null" >
                shop_window = #{record.shopWindow,jdbcType=VARCHAR},
            </if>
            <if test="record.fullReduction != null" >
                full_reduction = #{record.fullReduction,jdbcType=VARCHAR},
            </if>
            <if test="record.autoReceive != null" >
                auto_receive = #{record.autoReceive,jdbcType=BIT},
            </if>
            <if test="record.shipSelf != null" >
                ship_self = #{record.shipSelf,jdbcType=BIT},
            </if>
            <if test="record.sendShipFee != null" >
                send_ship_fee = #{record.sendShipFee,jdbcType=DECIMAL},
            </if>
            <if test="record.shopShipFee != null" >
                shop_ship_fee = #{record.shopShipFee,jdbcType=DECIMAL},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null" >
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createUser != null" >
                create_user = #{record.createUser,jdbcType=BIGINT},
            </if>
            <if test="record.updateUser != null" >
                update_user = #{record.updateUser,jdbcType=BIGINT},
            </if>
            <if test="record.version != null" >
                version = #{record.version,jdbcType=INTEGER},
            </if>
            <if test="record.deleteFlag != null" >
                delete_flag = #{record.deleteFlag,jdbcType=BIT},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update t_shop
        set id = #{record.id,jdbcType=BIGINT},
            mobile = #{record.mobile,jdbcType=VARCHAR},
            password = #{record.password,jdbcType=VARCHAR},
            sort = #{record.sort,jdbcType=VARCHAR},
            account_password = #{record.accountPassword,jdbcType=VARCHAR},
            account_sort = #{record.accountSort,jdbcType=VARCHAR},
            openId = #{record.openid,jdbcType=VARCHAR},
            wechat_name = #{record.wechatName,jdbcType=VARCHAR},
            avatar = #{record.avatar,jdbcType=VARCHAR},
            status = #{record.status,jdbcType=INTEGER},
            name = #{record.name,jdbcType=VARCHAR},
            shop_code = #{record.shopCode,jdbcType=VARCHAR},
            order_phone = #{record.orderPhone,jdbcType=VARCHAR},
            address = #{record.address,jdbcType=VARCHAR},
            address_detailes = #{record.addressDetailes,jdbcType=VARCHAR},
            longitude = #{record.longitude,jdbcType=DECIMAL},
            latitude = #{record.latitude,jdbcType=DECIMAL},
            announcement = #{record.announcement,jdbcType=VARCHAR},
            introduction = #{record.introduction,jdbcType=VARCHAR},
            business_hours = #{record.businessHours,jdbcType=VARCHAR},
            min_price = #{record.minPrice,jdbcType=DECIMAL},
            shop_notice = #{record.shopNotice,jdbcType=VARCHAR},
            shop_poster = #{record.shopPoster,jdbcType=VARCHAR},
            shop_window = #{record.shopWindow,jdbcType=VARCHAR},
            full_reduction = #{record.fullReduction,jdbcType=VARCHAR},
            auto_receive = #{record.autoReceive,jdbcType=BIT},
            ship_self = #{record.shipSelf,jdbcType=BIT},
            send_ship_fee = #{record.sendShipFee,jdbcType=DECIMAL},
            shop_ship_fee = #{record.shopShipFee,jdbcType=DECIMAL},
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
            update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            create_user = #{record.createUser,jdbcType=BIGINT},
            update_user = #{record.updateUser,jdbcType=BIGINT},
            version = #{record.version,jdbcType=INTEGER},
            delete_flag = #{record.deleteFlag,jdbcType=BIT}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.coretheorylife.modules.shop.entity.TShop" >
        update t_shop
        <set >
            <if test="mobile != null" >
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                sort = #{sort,jdbcType=VARCHAR},
            </if>
            <if test="accountPassword != null" >
                account_password = #{accountPassword,jdbcType=VARCHAR},
            </if>
            <if test="accountSort != null" >
                account_sort = #{accountSort,jdbcType=VARCHAR},
            </if>
            <if test="openid != null" >
                openId = #{openid,jdbcType=VARCHAR},
            </if>
            <if test="wechatName != null" >
                wechat_name = #{wechatName,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null" >
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="shopCode != null" >
                shop_code = #{shopCode,jdbcType=VARCHAR},
            </if>
            <if test="orderPhone != null" >
                order_phone = #{orderPhone,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="addressDetailes != null" >
                address_detailes = #{addressDetailes,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null" >
                longitude = #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="latitude != null" >
                latitude = #{latitude,jdbcType=DECIMAL},
            </if>
            <if test="announcement != null" >
                announcement = #{announcement,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null" >
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="businessHours != null" >
                business_hours = #{businessHours,jdbcType=VARCHAR},
            </if>
            <if test="minPrice != null" >
                min_price = #{minPrice,jdbcType=DECIMAL},
            </if>
            <if test="shopNotice != null" >
                shop_notice = #{shopNotice,jdbcType=VARCHAR},
            </if>
            <if test="shopPoster != null" >
                shop_poster = #{shopPoster,jdbcType=VARCHAR},
            </if>
            <if test="shopWindow != null" >
                shop_window = #{shopWindow,jdbcType=VARCHAR},
            </if>
            <if test="fullReduction != null" >
                full_reduction = #{fullReduction,jdbcType=VARCHAR},
            </if>
            <if test="autoReceive != null" >
                auto_receive = #{autoReceive,jdbcType=BIT},
            </if>
            <if test="shipSelf != null" >
                ship_self = #{shipSelf,jdbcType=BIT},
            </if>
            <if test="sendShipFee != null" >
                send_ship_fee = #{sendShipFee,jdbcType=DECIMAL},
            </if>
            <if test="shopShipFee != null" >
                shop_ship_fee = #{shopShipFee,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null" >
                create_user = #{createUser,jdbcType=BIGINT},
            </if>
            <if test="updateUser != null" >
                update_user = #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="version != null" >
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null" >
                delete_flag = #{deleteFlag,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.coretheorylife.modules.shop.entity.TShop" >
        update t_shop
        set mobile = #{mobile,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            sort = #{sort,jdbcType=VARCHAR},
            account_password = #{accountPassword,jdbcType=VARCHAR},
            account_sort = #{accountSort,jdbcType=VARCHAR},
            openId = #{openid,jdbcType=VARCHAR},
            wechat_name = #{wechatName,jdbcType=VARCHAR},
            avatar = #{avatar,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            name = #{name,jdbcType=VARCHAR},
            shop_code = #{shopCode,jdbcType=VARCHAR},
            order_phone = #{orderPhone,jdbcType=VARCHAR},
            address = #{address,jdbcType=VARCHAR},
            address_detailes = #{addressDetailes,jdbcType=VARCHAR},
            longitude = #{longitude,jdbcType=DECIMAL},
            latitude = #{latitude,jdbcType=DECIMAL},
            announcement = #{announcement,jdbcType=VARCHAR},
            introduction = #{introduction,jdbcType=VARCHAR},
            business_hours = #{businessHours,jdbcType=VARCHAR},
            min_price = #{minPrice,jdbcType=DECIMAL},
            shop_notice = #{shopNotice,jdbcType=VARCHAR},
            shop_poster = #{shopPoster,jdbcType=VARCHAR},
            shop_window = #{shopWindow,jdbcType=VARCHAR},
            full_reduction = #{fullReduction,jdbcType=VARCHAR},
            auto_receive = #{autoReceive,jdbcType=BIT},
            ship_self = #{shipSelf,jdbcType=BIT},
            send_ship_fee = #{sendShipFee,jdbcType=DECIMAL},
            shop_ship_fee = #{shopShipFee,jdbcType=DECIMAL},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            create_user = #{createUser,jdbcType=BIGINT},
            update_user = #{updateUser,jdbcType=BIGINT},
            version = #{version,jdbcType=INTEGER},
            delete_flag = #{deleteFlag,jdbcType=BIT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>